<div class="row">

	

<div class="center-align">
	<h2> Welcome to Muten.org </h2>
</div>
<div class="card red  lighten-1 medium">

            <div class="card-content white-text">
		            <div class="card red lighten-2 small col m6">

		              <div class="card-content white-text">
			              <span class="card-title"><h4>Features</h4></span>

							      <li class="collection-item">Patient Registration</li>
							      <li class="collection-item">Appointment scheduling</li>
							      <li class="collection-item">Doctor profiles and management</li>
							      <li class="collection-item">Prescription generation</li>
							      <li class="collection-item">Inventory management</li>
							      <li class="collection-item">Billing and invoices</li>
							      <li class="collection-item">Report creation</li>
							      <li class="collection-item">Staff management</li>
					   </div>
					</div>
		            <div class="card red lighten-2 small col m6">

		              <div class="card-content white-text">
			              <span class="card-title"><h4>Why Choose Us?</h4></span>

							      <li class="collection-item">Easy to use and learn</li>
							      <li class="collection-item">Low Total Cost of Ownership</li>
							      <li class="collection-item">No expensive hardware needed</li>
							      <li class="collection-item">Clean and beautiful interface</li>
							      <li class="collection-item">Highest level of security</li>
							      <li class="collection-item">Access anywhere and anytime</li>
							      <li class="collection-item">CSV Data Export</li>
							      <li class="collection-item">Enhance operational efficiencies</li>
					   </div>
					</div>
            </div>
            <div class="card-action center-align">
              <a href="<%= new_hospital_registration_path%>" class="btn btn-large waves-effect waves-light">Get Started</a>

            </div>
          </div>
</div>
